<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mars Project</title>
    </head>
    <body>
        <h1>mars_project</h1>
        <p>добро пожаловать на сайт платформы mars_project для профессиональных релокантов, тут вас точно не достанет военкомат :)</p>
        <p>авторизируйтесь на платформе:</p>
        <form action="/login" method="post">
            <label for="username">Логин:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password"><br>
            <button type="submit">Авторизация</button>
        </form>
        <h2>Or</h2>
        <a href="/register" style="display: inline-block; padding: 15px; background-color: pink; color: black; text-decoration: none;">Register</a>
        </body>
</html>
