<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    
    <section class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container"> 
              <div class="columns is-multiline is-centered">
                <div class="column is-half">
                  <div class="card" style="max-width: 90%;">
                    
                    <div class="card-content">
                      <p class="title has-text-black">Admin Page</p>
                      <form method="post" action="/admin">
                        <div class="field">
                          <label class="label">Select request type:</label>
                          <div class="control">
                            <div class="select">
                              <select name="type">
                                <option value="get">GET</option>
                                <option value="post">POST</option>
                                <option value="put">PUT</option>
                                <option value="delete">DELETE</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">AUTH:</label>
                          <div class="control">
                            <input class="input" type="text" name="token" placeholder="Enter token" required>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">ID:</label>
                          <div class="control">
                            <input class="input" type="text" name="id" placeholder="Enter id">
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">AUTHOR:</label>
                          <div class="control">
                            <input class="input" type="text" name="author" placeholder="Enter author">
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">BODY:</label>
                          <div class="control">
                            <input class="input" type="text" name="body" placeholder="Enter body">
                          </div>
                        </div>
                        <div class="field is-grouped">
                          <div class="control">
                            <button class="button is-link" type="submit">Send Request</button>
                          </div>
                          <div class="control">
                            <button class="button is-text" type="reset">Clear Form</button>
                          </div>
                        </div>
                        <div class="notification">
                          {{ quotes.code }}: {{ quotes.message }}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</body>
</html>

