<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <header class="navbar">
              <div class="container">
                <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                    <h1 class="title has-text-white">Homepage</h1>
                  </a>
                </div>
              </div>
            </header>
          </div>
    <section class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container">
              <div class="columns is-multiline is-centered">
                <div class="column is-half">
                  <div class="card">
                    <div class="card-content">
                      <p class="title has-text-black">Error</p>
                      <p class="subtitle has-text-grey-dark">{{ quotes.code }}: {{ quotes.message }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
</body>
</html>


