<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <h1><a href="/">Back to main</a></h1>
    <img src="{image}">
    <h2 class="fname"><span class="fname">Firstname:</span> {fname}</h2>
    <h2 class="lname"><span class="lname">Lastname:</span> {lname}</h2>
    <h2 class="email"><span class="email">Email:</span> {email}</h2>
    <h2 class="phone"><span class="phone">Phone:</span> {phone}</h2>
    <h2 class="birthday"><span class="birthday">Birthday:</span> {birthday}</h2>
    <h2 class="gender"><span class="gender">Gender:</span> {gender}</h2>
    <h2 class="address"><span class="address">Address:</span> {address}</h2>
    <h2 class="website"><span class="website">Website:</span> <a href="{website}">{website}</a></h2>
</body>
</html>