<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
    <div class="container">
        <h1><a href="/main">Back to main</a></h1>
        <div class="info">
            <img src="{image}" alt="Company Logo" class="logo">
            <h1 class="name">{name}</h1>
            <h2 class="details"><span class="label">Email:</span> {email}</h2>
            <h2 class="details"><span class="label">VAT:</span> {vat}</h2>
            <h2 class="details"><span class="label">Phone:</span> {phone}</h2>
        </div>
        <div class="info">
            <h2 class="details"><span class="label">Country:</span> {country}</h2>
            <h2 class="details"><span class="label">Addresses:</span> {address}</h2>
            <h2 class="details"><span class="label">Website:</span> <a href="{website}">{website}</a></h2>
            <h2 class="details"><span class="label">Contact:</span> {contact}</h2>
        </div>
    </div>
</body>
</html>
