<html lang="en">
    <head>
        <title>
            IPS tools
        </title>
    </head>
    <body background="1.jpg">
        <div style="margin:20% 40% 0 40%; width:20%; text-align: center;">
            <h1 style="text-align: center">
                Main page
            </h1>
            <div>
                <button onclick="window.location.href = '/ips';" style="height: 50px; width: 200px; font-size: 25px;">IPS</button>
            </div>
            <div>
                <button onclick="window.location.href = '/tools_ips';" style="height: 50px; width: 200px; font-size: 25px;">IPS TOOLS</button>
            </div>
        </div>
    </body>
</html>