<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/log_style.css') }}">
</head>
<body>
  <object id="bg-object" data="static/hh.svg" width="400" type="image/svg+xml">
    <img src="static/hh.svg">
  </object>
  <div class="container">
    <button class="auth-btn" onclick="window.location.href='/'">Home</button>
    <h1>Login</h1>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>

      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class="flashes">
                  {% for message in messages %}
                      <p class="error">{{ message }}</p>
                  {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}

      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>

